# One tailed t-test

In [8]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
data=pd.read_excel('machine.xlsx')
data.head(20)

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [17]:
st.ttest_ind(data['New machine'], data['Old machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

In [ ]:
#P value is very low so we can reject the hypothesis that there is no difference between the machines. 
#The statistic is negative, meaning that the mean of the New Machine is lower than the mean of the Old Machine. 
#The data provides sufficient evidence to show that the New Machine is better.

# Matched pairs

In [18]:
pokemon = pd.read_csv('pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [19]:
st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
#P value is very low so we can reject the 0 hypothesis that there is no difference between the attack and defense per card. 
#Statistic is positive indicating that the \mu_defense score is higher than the \mu_attack score.

# ANOVA part 1

In [23]:
anova_data = pd.read_excel('anova_lab_data.xlsx')
anova_data.head(50)

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [29]:
anova_data['power_count'] = anova_data.groupby('Power ').cumcount() ##is the new index 

anova_pivot = anova_data.pivot(index='power_count', columns='Power ', values='Etching Rate')
anova_pivot.columns = ['Power_'+str(x) for x in anova_pivot.columns.values]
anova_pivot.head()

             Power_160 W  Power_180 W  Power_200 W
power_count
0                   5.43         6.24         8.79
1                   5.71         6.71         9.20
2                   6.22         5.98         7.90
3                   6.01         5.66         8.15
4                   5.59         6.60         7.55

In [ ]:
#The null hypothesis is that there is no difference in the mean based on the power.

In [ ]:
#The alternate hypothesis is that there is a difference in (at least one of) the mean based on the power.

In [ ]:
#The significance level will be set at 0.05 as there is no special reason to deviate from this standard level.

In [ ]:
#The F table - need to look that up

# ANOVA part 2

In [30]:
st.f_oneway(anova_pivot['Power_160 W'],anova_pivot['Power_180 W'], anova_pivot['Power_200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [ ]:
#P value is very low so we can reject the 0 hypothesis that there are no differences in the mean based on the power.